.App {
  text-align: center;
  
}
.nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 0px;
}

.nav a{
  color: #fff;
  border-radius: 5%;
}
.nav a :hover{
  background-color: #4f51e9;
}
.footer{
  margin-left: 920px;
}


.App-link {
  color: #61dafb;
}

